.cache
/eshell
/el-get
/custom.el
*.elc
/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
/custom.el
*.elc
*~
.*.lock
/newsticker
\#*
/elpa
/elpa-*
site-lisp/package/
/swank
/var
/emacs-backup
/smex-items
recentf
tmp
transient
trash
/tutorial
