*.elc
*.sqlite
*~
.*.lock
.DS_Store
.cache
.credentials
.dap-breakpoints
.lsp-session-v1
.org-id-locations
.rust-auto-use-cache
.yas-compiled-snippets.el
/.emacs.desktop
/.session
/auto-save-list
/custom.el
/el-get
/eln-cache
/elpa
/elpa-*
/emacs-backup
/eshell
/history
/mind-wave/chatgpt_api_key.txt
/network-security.data
/newsticker
/node_modules
/request
/session.*
/smex-items
/straight
/swank
/tutorial
/url/cache
/url/cookies
/var
\#*
bookmarks
init-machine.el
projectile-bookmarks.eld
projects
recentf
rust-playground
site-lisp/package/
snippets/js-mode/tds-web/*
snippets/js-mode/wad/*
tmp
transient
trash
tree-sitter
org-roam.db
/chatgpt
tramp